@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,300;0,700;0,800;0,900;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;0,800;0,900;1,800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.main{
    background-image: url("./assets/Images/bg.jpg");
    background-size: max(1200,100vw);
    background-position: center center;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box{
    height: 70vh;
    width: 100vw;
    opacity: 0.67;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    max-width: 64vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 8.2vh;
}

nav img{
    color:darkred;
    width: 8.2vw;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    font-style: 'martel sans', 'sans-serif';
    height: calc(100% - 8.2vh);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 1.8vh;
    padding: 2vw;
}

.hero> :first-child{
    font-family: 'poppins', 'sans-serif';
    font-weight: bolder;
    font-size: 3.75rem;
    text-align: center;
}

.hero> :nth-child(2){
    font-family: 'poppins', 'sans-serif';
    font-weight: bolder;
    font-size: 3.75rem;
    position: relative;
    bottom: 1.6vh;
    text-align: center;
}

.hero> :nth-child(3){
    font-family: 'poppins', 'sans-serif';
    font-weight: 700;
    font-size: 1.12rem;
    position: relative;
    bottom: 1.35vh;
    text-align: center;
}

.hero> :nth-child(4){
    font-family: 'martel sans';
    font-size: 1rem;
    font-weight: 300;
    position: relative;
    bottom: 1vh;
    text-align: center;
}

.Seperation{
    height: 0.8vh;
    background-color: rgb(54, 54, 54);
}

.btn{
    padding: 0.76vh 1.21vw;
    color: #ffffff;
    border-radius: 1.0vh;
    background-color: rgba(250, 250, 250, 0.025);
    font-family: 'poppins';
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    border-color: rgba(240, 255, 255, 0.811);
}

.F6{
    margin-left: 1vw;
}

.btn-red-sm{
   background-color: red;
   color: #ffffff;
   border-radius: 1.0vh;
   cursor: pointer;
   border: none;
   text-align: center;
   position: relative;
}

.btn-red-sm:hover{
    background-color: rgba(187, 29, 37, 0.676);
}
.btn-red{
   background-color: red;
   color: #ffffff; 
   padding: 1.52vh 2.72vw; 
   font-size: 1.52rem;
   font-weight: 600;
   border-radius: 1.0vh;
   text-align: center;
   position: relative;
   bottom: 0.04vh;
}

input{
    background: transparent;
    height: 9.45vh;
    width: 25.4vw;
    padding-left: 2vh;
    text-align: left;
    border: 0.1rem solid rgba(255, 112, 112, 0.5);
    font-size: 1.22rem;
    font-family: 'poppins';
    font-weight: 700;
    border-radius: 1vh;
    color: rgb(255, 255, 255, 1.0);
}

input::placeholder{
    color: rgb(255, 255, 255, 0.7);
    font-weight: 500;
}

select{
    background-color: black;
    color: white;
    font-size: 0.9rem;
    font-family: 'poppins';
    font-weight: 600;
    border: none;
    cursor: pointer;
}

option{
    background-color: black;
    color: white;
    color: #ffffff;
    border-radius: 1.0vh;
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.first .imagerep{
    height: 35vh;
    width: 30vw;
    background-image: url("./assets/Images2/Netflix_Pic6.webp");
    background-size: cover;
    border: 0.5em solid grey ;
    margin-top: 8vh;
    margin-bottom: 7vh;
    margin-left: 2vw;
    position: relative;
}

section.first > div{
    display: flex;
    flex-direction: column;
}

section.first > div :first-child{
    font-family: "Poppins", "sans-serif";
    font-size: 48px;
    font-weight: bolder;
}

section.first > div :nth-child(2){
    font-family:" Poppins", "sans-serif";
    font-size: 24px;
}

.second .imagerep2{
    height: 35vh;
    width: 30vw;
    background-image: url("./assets/Images2/Netflix_Pic3.webp");
    background-size: cover;
    border: 0.5em solid grey ;
    margin-top: 8vh;
    margin-bottom: 7vh;
    margin-right: 2.6vw;
    position: relative;
}

.fourth .imagerep4{
    height: 35vh;
    width: 30vw;
    background-image: url("./assets/Images2/Netflix_Pic4.webp");
    background-size: cover;
    border: 0.5em solid grey ;
    margin-top: 8vh;
    margin-bottom: 7vh;
    margin-right: 2.6vw;
    position: relative;
}

.imagerep3{
    height: 39vh;
    width: 45vw;
    border: 0.5em solid grey ;
    margin-top: 8vh;
    margin-bottom: 7vh;
    margin-left: 2vw;
    position: relative;
}

.imagerep3 video{
    position: relative;
    bottom: 0.5vh;
}

.faq{
    background-color: #000000;
    color: #ffffff;
    padding: 5vh;
}

.Boxg{
    display: flex;
    background-color: #2d2d2d;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    padding: 3.1vh;
    max-width: 79vw;
    margin: 1.7vh auto;
    font-size: 1.3rem;
    transition: all 1s ease-out;
    font-family: "martel sans";
    cursor: pointer;

}

.Boxg:hover{
    background-color: #414141;
}

.faq h2{
    font-size: 2.4rem;
    text-align: center;
    font-family: "Poppins";
    
}

.Boxg svg{
    filter: invert(1);
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #ffffff;
    max-width: 78vw;
    margin: auto;

}

.Link-Items{
    display: flex;
    flex-direction: column;
    gap: 2.6vh;
}

a{
    font-family: "Poppins", "sans-serif";
    color: #9d9898;
    text-decoration-color: #9d9898;
}

.Link-Items6{
    font-family: "Poppins", "sans-serif";
    color: #9d9898;
    text-decoration-color: #9d9898;
    position: relative;
    left: 7vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-weight: 500;
}

.y7{
    position: relative;
    left: 9vw;
    margin-top: 7vh;
    margin-bottom: 5vh;
}

.FGy{
   font-family: "Poppins";
   color: #9d9898;
   position: relative;
   left: 9vw;
   font-weight: 500;
   margin-top: 4vh;
   margin-bottom: 4vh;
}

.Last-Statement{
   display: flex;
   flex-direction: row;
   font-family: "Poppins";
   color: #414141;
   position: relative;
   left: 9vw;
   font-weight: 500;
   margin-top: 4vh;
   margin-bottom: 13vh;
}

#F10{
    color: #4e4b4b;
    font-weight: 600;
}

#F9{
    color: blue;
    text-decoration-color: blue;
    font-weight: 400;
}